@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sofia+Sans:wght@400;500;600;700;800;900&display=swap');

/*Cores: 
#FF8400
#B35C00
#0083B3
#00BBFF
*/

/*TAGS*/

body{
    margin: 0;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #b35c0021;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav a:first-child{
    color: #FF8400;
}

nav a{
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 30px;
}

main{
    display: flex;
    flex-direction: column;
}

section{
    margin: 20px 0;
    text-align: center;
    padding: 5% 5%;
}

section:first-child{
    margin: 0 0 20px;
}

h2{
    color: #ff8400;
    font-size: 48px;
}

h3{
    font-size: 28px;
    font-family: "Sofia Sans";
    font-weight: 800;
}

h5{
    font-size: 20px;
    font-family: "Sofia Sans";
    font-weight: normal;
    width: 75%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    background-color: #b35c0021;
    color: black;
    font-weight: 600;
}

/*IDs*/

/*Classes*/

.logo{
    font-family: 'Berkshire Swash', cursive;
    color: #FF8400;
    font-size: 36px;
    margin: 0;
}

.logo span{
    color: #B35C00;
}

.presentation-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: left;
}

.presentation-section h1{
    font-size: 128px;
    color: white;
    margin: 50px 0 30px 20px;
}

.little-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 50px;
}

.little-row h2{
    margin-top: 0;
}

.little-row h3{
    width: 75%;
    margin-bottom: 0;
}

.little-row h5{
    font-size: 20px;
    font-weight: normal;
    width: 75%;
    margin-bottom: 50px;
}

.link-button{
    background-color: #FF8400;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    font-size: 20px;
    padding: 16px;
}