/*Tags*/

a{
    color: #ff8400;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    color: #ff8400;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding-right: 0.78rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 576px){
    nav a{
        padding-right: 2rem;
    }
}

nav a:hover{
    color: #e67802;
}

h3{
    margin-top: 50px;
}

section:last-of-type{
    margin-bottom: 0px;
}

/*IDs*/

#simple-grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}

@media (min-width:768px){
    #simple-grid{
        grid-template-columns: 1fr 1fr;
    }
}

#simple-grid img{
    width: 300px;
    box-shadow: 3px 3px 10px black;
    border-radius: 20px;
}

#simple-grid img:last-child{
    margin-top: 20px;
}

#simple-grid #img{
    height: 425px;
}

#simple-grid div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px){
    #simple-grid div{
        margin-top: 0;
    }
}

#presentation-section-about{
    justify-content: space-between;
    background-image: url(../img/about/about-image.jpg);
}

#section-chefs{
    background-color: #ad7f4d58;
}

#section-chefs h2{
    color: #6b3801;
    margin-bottom: 100px;
}

#head-chef{
    background: url("../img/about/chefs/head-chef-image.png"),rgb(247, 181, 112, 0.5);
    background-size: cover;
    background-position-y: 50%;
}

#head-chef:hover{
    background: url("../img/about/chefs/head-chef-image.png"), rgb(254, 205, 153);
    background-size: cover;
    background-position-y: 50%;
}

#sous-chef{
    background: url("../img/about/chefs/sous-chef-image.png"),rgb(247, 181, 112, 0.5);
    background-size: cover;
    background-position-x: 30%;
}

#sous-chef:hover{
    background: url("../img/about/chefs/sous-chef-image.png"),rgb(254, 205, 153);
    background-size: cover;
    background-position-x: 30%;
}

#restaurant-manager{
    background: url("../img/about/chefs/restaurant-manager-image.png"), rgb(247, 181, 112, 0.5);
    background-size: cover;
    background-position-x: 20%;
}

#restaurant-manager:hover{
    background: url("../img/about/chefs/restaurant-manager-image.png"), rgb(254, 205, 153);
    background-size: cover;
    background-position-x: 20%;
}

#dessert-expert{
    background: url("../img/about/chefs/dessert-expert-image.png"), rgb(247, 181, 112, 0.5);
    background-size: cover;
}

#dessert-expert:hover{
    background: url("../img/about/chefs/dessert-expert-image.png"), rgb(254, 205, 153);
    background-size: cover;
}

#pasta-expert{
    background: url("../img/about/chefs/pasta-expert-image.png"),rgb(247, 181, 112, 0.5);
    background-size: cover;
    background-position-x: 50%;
}

#pasta-expert:hover{
    background: url("../img/about/chefs/pasta-expert-image.png"),rgb(254, 205, 153);
    background-size: cover;
    background-position-x: 50%;
}

#restaurant-amenities{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 50px;
    margin-bottom: 100px;
}  

#restaurant-amenities div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    text-align: left;
    width: 100%;
}

@media (min-width:576px){
    #restaurant-amenities div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: left;
        width: 100%;
    }
}

@media (min-width:992px){
    #restaurant-amenities div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }
}

#restaurant-amenities div span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#restaurant-amenities div h5{
    width: 100%;
    margin: 0;
}

#carousel-section{
    padding: 0 5%;
    background-color: rgb(254, 205, 153);
}

#carousel-section h2{
    color:#6b3801;
    font-size: 28px;
    margin: 80px 0 0 0;
    text-decoration: underline;
}

@media (min-width:576px){
    #carousel-section h2{
        font-size: 48px;
    }
}

#carousel-section .carousel-inner{
    padding: 7%;
}

#carousel-section .carousel-item{
    text-align: center;
}

#carousel-section .carousel-item div{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: 10%;
    background-position-x: 49%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: #FF8400;
}

@media(min-width:576px){
    #carousel-section .carousel-item div{
        background-position-x: 50%;
        width: 300px;
        height: 300px;
    }
}

#carousel-section .carousel-item h3{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 18px;
}

@media(min-width:576px){
    #carousel-section .carousel-item h3{
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 28px;
    }
}

#carousel-section button span{
    background-color: #6b3801;
}

#social-media-lady-image{
    background: url(../img/about/social-media-people/social-media-lady.png) #FF8400;
}

#social-media-man-image{
    background: url(../img/about/social-media-people/social-media-man.png) #FF8400;
}

#social-media-woman-image{
    background: url(../img/about/social-media-people/social-media-woman.png) #FF8400;
}

/*Corrigindo o que foi mudado pelo Bootstrap*/

#h1-id{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin: 50px 0 30px 50px;
}

@media (min-width:580px){
    #h1-id{
        font-size: 8rem;
        color: white;
        margin: 50px 0 30px 50px;
    }
}

#h2-id{
    color: #ff8400;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#h3-id{
    font-size: 28px;
    font-family: "Sofia Sans";
    font-weight: 800;
    margin-top: 30px;
}

#h5-id{
    font-size: 20px;
    font-family: "Sofia Sans";
    font-weight: normal;
    width: 75%;
    margin-top: 30px;
}


#p-id{
    margin: 52px 0;
    line-height: normal;
    font-weight: normal;
}

/*Classes*/

@media(min-width: 1200px){
    .little-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 5%;
    }
}

.chef-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
}

.chef-grid span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #000;
    text-align: left;
}

.chef-grid div{
    border: solid 8px #fff;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

@media (min-width: 576px){
    .chef-grid div{
        height: 300px;
        width: 300px;   
    }
}

.chef-grid h3{
    font-size: 20px;
}

@media (min-width:576px){
    .chef-grid h3{
        font-size: 28px;
    }
}

.chef-grid h5{
    font-size: 14px;
}

@media (min-width:576px){
    .chef-grid h5{
        font-size: 20px;
    }
}