/*Tags*/

iframe, div{
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 8px;
    font-family: "Sofia Sans";
    font-size: 1em;
    font-weight: 700;
}

input:last-of-type{
    width: 200px;
}

textarea{
    resize: none;
}

/*IDs*/

#presentation-section-contact{
    justify-content: space-between;
    background-image: url(../img/contact/contact-image.jpg);
}

#presentation-section-contact div{
    width: auto;
}

#time-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/contact/group-friends-eating-restaurant-image.jpg),  rgba(0, 0, 0, 1);
    background-size: cover;
    background-position-y: 100%;
}

#time-div h2{
    font-family: "Berkshire Swash";
    color: #fff;
    margin-top: 8px;
}

#time-div h3:last-of-type{
    margin-bottom: 24px;
}

#text-div{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.2);
}

#text-div h2{
    font-size: 38px;
}

@media (min-width:576px){
    #text-div h2{
        font-size: 48px;
    }
}

#text-div h3{
    font-size: 20px;
}

@media (min-width:576px){
    #text-div h3{
        font-size: 28px;
    }
}

#div-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#mensage-input{
    margin-bottom: 24px;
}

/*Classes*/

.little-row div:first-of-type{
    margin-bottom: 80px;
}

@media (min-width: 992px){
    .little-row div:first-of-type{
        margin-bottom: 0;
    }
}


@media(min-width: 992px){
    .little-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 5%;
    }
}