
article{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

/*IDs*/

#little-about img{
    height: 480px;
    width: 400px;
    box-shadow: 3px 3px 10px black;
}

#little-contact img{
    width: 640px;
    box-shadow: 3px 3px 10px black;
}

/*Classes*/

.presentation-section-home{
    background-image: url(/img/index/index-image.jpg);
}

.presentation-section-home h2{
    margin: 20px 0 30px 20px;
    width: 30%;
    font-weight: bolder;
}

.short-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fccda3;
    color: #a15b10;
}

.short-menu h2{
    color:#ff8400;
    margin-bottom: 0;
}

.short-menu h3{
    margin-bottom: 0;
}

.short-menu h5{
    margin-bottom: 100px;
}

.short-menu span{
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 24px;
}

.short-menu span img{
    width: 32%;
    border-radius: 20px;
}

.short-menu span p{
    font-style: italic;
    font-size: 18px;
}