
section:first-child{
    margin: 0 0 20px;
}

article{
    display: inline-grid;
    justify-items: start;
    align-items: flex-start;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin-bottom: 50px;
}

/*IDs*/

#little-about{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    gap: 50px;
}

#little-about h2{
    color: #ff8400;
    font-size: 48px;
}

#little-about h3{
    font-size: 28px;
    width: 75%;
    margin-bottom: 0;
}

#little-about h5{
    font-size: 20px;
    font-weight: normal;
    width: 75%;
}

#little-about img{
    width: 320px;
    box-shadow: 3px 3px 10px black;
}

#little-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 50px;
}

#little-contact img{
    width: 640px;
    box-shadow: 3px 3px 10px black;
}

#little-contact h2{
    color: #ff8400;
    font-size: 48px;
    margin-top: 0;
}

#little-contact h3{
    font-size: 24px;
    width: 75%;
    margin-bottom: 0;
}

#little-contact h5{
    font-size: 20px;
    font-weight: normal;
    width: 75%;
}

/*Classes*/

.logo{
    font-family: 'Berkshire Swash', cursive;
    color: #FF8400;
    font-size: 36px;
    display: inline;
}

.logo span{
    font-family: 'Berkshire Swash', cursive;
    color: #B35C00;
}

.presentation-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/comida-principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: left;
}

.presentation-section h1{
    font-size: 88px;
    color: white;
    margin: 50px 0 30px 20px;
}

.presentation-section h2{
    font-size: 40px;
    color:#ff8400;
    margin: 20px 0 30px 20px;
    width: 30%;
    font-weight: bolder;
}

.presentation-section img{
    width: 50%;
    height: 80%;
    border-radius: 20px;
}

.short-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.short-menu h2{
    color:#B35C00;
    font-size: 48px;
    margin-bottom: 0;
}

.short-menu h3{
    font-size: 28px;
    margin-bottom: 0;
}

.short-menu h5{
    font-size: 18px;
    width: 64%;
    margin-bottom: 100px;
}

.short-menu span{
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 24px;
}

.short-menu span img{
    width: 32%;
    display: inline;
    border-radius: 20px;
}

.short-menu span p{
    font-style: italic;
    font-size: 20px;
}

.link-button{
    background-color: #FF8400;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    font-size: 20px;
    padding: 16px;
}