/*Tags*/

article{
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    text-align: left;
}

aside span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

aside span h3, aside span p{
    margin: 0;
}

h5{
    font-style: italic;
}

h5:hover{
    font-weight: bolder;
}

/*IDs*/

#pasta{
    background-image: url(../img/menu/pasta-image.jpg);
}

#meat{
    background-image: url(../img/menu/meat-image.jpg);
}

#salad{
    background-image: url(../img/menu/salad-image.jpg);
}

/*Classes*/

.presentation-section-menu{
    justify-content: space-between;
    background-image: url(/img/menu/menu-image.jpg);
    background-position-y: 50%;
}

.little-row{
    justify-content: space-between;
    gap: 100px;
}

.div-image{
    height: 800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 20px;
    box-shadow: 40px 40px 1px black;
}

.price{
    color: #B35C00;
    font-family: "Sofia Sans";
    font-weight: 900;
    font-size: 28px;
    font-style: italic;
}

.price::before{
    content: "$";
}