/*Tags*/

article{
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    text-align: left;
}

aside span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

aside span h3, aside span p{
    margin: 0;
}

aside h5:hover{
    font-weight: bolder;
}

h5{
    font-style: italic;
}

/*IDs*/

#pasta{
    background-image: url(../img/menu/pasta-image.jpg);
}

#meat{
    background-image: url(../img/menu/meat-image.jpg);
}

#meat-section{
    flex-direction: column;
}

@media (min-width:992px){
    #meat-section{
        flex-direction: row;
    }
}

#salad{
    background-image: url(../img/menu/salad-image.jpg);
}

/*Classes*/

@media(min-width: 992px){
    .little-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 5%;
    }
}

.presentation-section-menu{
    justify-content: space-between;
    background-image: url(../img/menu/menu-image.jpg);
    background-position-y: 50%;
}

.little-row{
    flex-direction: column-reverse;
    gap: 20px;
}

@media (min-width:992px){
    .little-row{
        flex-direction: row;
        gap: 100px;
    }
}

.div-image{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 20px;
    box-shadow: 10px 10px 1px black;
}

@media (min-width:576px){
    .div-image{
        height: 400px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        border-radius: 20px;
        box-shadow: 20px 20px 1px black;
    }
}

@media (min-width:768px){
    .div-image{
        height: 600px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        border-radius: 20px;
        box-shadow: 30px 30px 1px black;
    }
}

@media(min-width:992px){
    .div-image{
        height: 800px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        border-radius: 20px;
        box-shadow: 40px 40px 1px black;
    }
}

.price{
    color: #B35C00;
    font-family: "Sofia Sans";
    font-weight: 900;
    font-size: 28px;
    font-style: italic;
}

.price::before{
    content: "R$";
}